<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.appuous.Invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb825836284140500</string>
				<string>invite</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>138</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>69e405bd07d73937600dcbd2da3d50d7bf01ce05</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>uEktkkEUOS2QnGrEJd5iaNIUm</string>
					<key>consumerSecret</key>
					<string>QXxYNqtvBJrT9UfWFvEhAwnKEVz4xNSVEXbziroZDbEAWUFVY0</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>MoPub</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>825836284140500</string>
	<key>FacebookDisplayName</key>
	<string>Invite</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to find venues by you.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Black.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-BoldIt.otf</string>
		<string>ProximaNova-Extrabold.otf</string>
		<string>ProximaNova-Light.otf</string>
		<string>ProximaNova-LightItalic.otf</string>
		<string>ProximaNova-RegItalic.otf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-RegularItalic.otf</string>
		<string>ProximaNova-Semibold.otf</string>
		<string>ProximaNova-SemiboldItalic.otf</string>
		<string>ProximaNovaCond-Light.otf</string>
		<string>ProximaNovaCond-LightIt.otf</string>
		<string>ProximaNovaCond-Regular.otf</string>
		<string>ProximaNovaCond-RegularIt.otf</string>
		<string>ProximaNovaCond-Semibold.otf</string>
		<string>ProximaNovaCond-SemiboldIt.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
